div#unit-info {
  position: fixed;
  left: 0;
  top: 0;
  margin: 16px;
  min-width: 20em;
  width: 25%;
}
div#content { max-width: 48em; margin: 0 15% 0 30%; }
div#esper-container { margin: 16px; }
div#esper-stats { margin-top: 16px; }
button#esper-skills { margin-left: 16px }
body { font-family: sans-serif; }
table {
  width: calc(100% - 32px);
  border-collapse: collapse;
}
label { white-space: nowrap; }
table#esper-training { width: calc(100% - 32px); margin: 16px }
#esper-training th { text-align: left; width: 20%; }
#esper-training span { margin-left: 16px; }
table.skills-equip,
table.skills-active,
table.skills-trait { width: calc(100% - 32px); margin: 16px; }
table.skills-equip tr,
table.skills-trait tr,
table.skills-active tr { border: solid thin; }
button, select {
  height: calc(2.25rem + 2px);
  font-size: 1rem;
}
select.equip-slot {
  width: 100%;
}
option {
  min-height: 1.2em;
  padding: 0px 2px 1px;
  line-height: 1.25;
  font-size: 1rem;
}
table.unit-stats {
  margin-top: 16px;
  border-style: solid;
  border-width: 1px;
  width: calc(100% - 16px);
}
table.unit-stats > caption { text-align: left }
td.unit-stat-name {
  width: 25%;
  font-size: smaller;
}
td.unit-stat-data {
  width: auto;
  text-align: right;
  font-size: smaller;
}
td.unit-trait-rarity { width: 5%; }
td.unit-trait-level { width: 5%; }
td.unit-trait-name { width: 20%; }
td.unit-trait-desc { width: 70%; }
td.unit-skill-rarity { width: 5%; }
td.unit-skill-level { width: 5%; }
td.unit-skill-name { width: 20%; }
td.unit-skill-desc { width: 65%; }
td.unit-skill-cost { width: 5%; }
td { padding: 8px; }
th { padding: 8px; }
