@media (min-width: 70em) {
  div#content { max-width: 48em; margin: 0 15% 0 32%; }
}
@media (max-width: 70em) {
  div#content { max-width: 48em; margin: 0 15% 0 23em; }
}
div#unit-info {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 16px;
  min-width: 22em;
  width: 25%;
}
div#unit-info > select:first-child {
  margin-bottom: 16px;
}
div#unit-info > div {
  height: calc(100% - 2.25rem - 16px);
  overflow-y: auto;
}
div#esper-container { margin: 16px; }
div#esper-stats { margin-top: 16px; }
button#esper-skills { margin-left: 16px }
body { font-family: sans-serif; }
table {
  width: calc(100% - 32px);
  border-collapse: collapse;
}
label { white-space: nowrap; }
table#esper-training { width: calc(100% - 32px); margin: 16px }
#esper-training th { text-align: left; width: 20%; }
#esper-training span { margin-left: 16px; }
table.skills-equip,
table.skills-active,
table.skills-trait { width: calc(100% - 32px); margin: 16px; }
table.skills-equip tr,
table.skills-trait tr,
table.skills-active tr { border: solid thin; }
button, select {
  height: calc(2.25rem + 2px);
  font-size: 1rem;
}
#unit-info select {
  width: calc(100% - 16px);
}
select.equip-slot,
.skills-active select, .skills-trait select {
  width: 100%;
}
option {
  min-height: 1.2em;
  padding: 0px 2px 1px;
  line-height: 1.25;
  font-size: 1rem;
}
table.unit-stats {
  margin-left: 0;
  border-style: solid;
  border-width: 1px;
}
table.unit-stats > caption { text-align: left }
td.unit-stat-name {
  width: 25%;
}
td.unit-stat-data {
  width: auto;
  text-align: right;
}

.unit-stats {
  width: calc(100% - 16px);
  margin-left: 16px;
  font-size: smaller;
}
.unit-stats > div > div {
  display: inline-block;
  margin-right: 16px;
  width: calc((100% - 16px) / 7 - 16px);
}
.unit-stats > div > button {
  width: calc((100% - 16px) / 7 - 16px);
  font-size: inherit;
  height: 1.75rem;
}

.unit-stats > div {
  margin-bottom: 16px;
}

.unit-stats ul {
  margin: 0;
  padding-left: 1em;
}
.unit-stats li {
  text-indent: -0.5em;
}

table.unit-resists {
  width: 100%;
}
td.unit-trait-rarity { width: 5%; }
td.unit-trait-level { width: 5%; }
td.unit-trait-name { width: 20%; }
td.unit-trait-desc { width: 70%; }
td.unit-skill-rarity { width: 5%; }
td.unit-skill-level { width: 5%; }
td.unit-skill-name { width: 20%; }
td.unit-skill-desc { width: 65%; }
td.unit-skill-cost { width: 5%; }
td { padding: 8px; }
th { padding: 8px; }
.sort-options { margin-bottom: 16px }
.sort-options span { margin-right: 16px }
.sort-options label { margin-left: 16px }
.sort-options input { margin-right: 8px }

table.unit-resists td {
  font-size: xx-small;
}
.unit-resists > tr:nth-child(2) > td {
  text-align: center;
}
.unit-resists > tr:first-child > td {
  padding: 0;
}
.unit-resists > tr:first-child > td > div {
  background-image: url("images/unit-stat-icons.png");
  transform: scale(0.70);
  width: 39px;
  height: 39px;
}
.elements-table > tr:first-child > td:nth-child(1) > div {
  background-position: 0 0;
}
.elements-table > tr:first-child > td:nth-child(2) > div {
  background-position: calc(-39px * 1) 0;
}
.elements-table > tr:first-child > td:nth-child(3) > div {
  background-position: calc(-39px * 2) 0;
}
.elements-table > tr:first-child > td:nth-child(4) > div {
  background-position: calc(-39px * 3 - 1px) 0;
}
.elements-table > tr:first-child > td:nth-child(5) > div {
  background-position: calc(-39px * 4 - 2px) 0;
}
.elements-table > tr:first-child > td:nth-child(6) > div {
  background-position: calc(-39px * 5 - 3px) 0;
}
.elements-table > tr:first-child > td:nth-child(7) > div {
  background-position: calc(-39px * 6 - 4px) 0;
}
.elements-table > tr:first-child > td:nth-child(8) > div {
  background-position: calc(-39px * 7 - 5px) 0;
}
.status-table > tr:first-child > td:nth-child(1) > div {
  background-position: calc(-318px) 0;
}
.status-table > tr:first-child > td:nth-child(2) > div {
  background-position: calc(-318px - 40px * 1) 0;
}
.status-table > tr:first-child > td:nth-child(3) > div {
  background-position: calc(-318px - 40px * 2) 0;
}
.status-table > tr:first-child > td:nth-child(4) > div {
  background-position: calc(-318px - 40px * 3) 0;
}
.status-table > tr:first-child > td:nth-child(5) > div {
  background-position: calc(-318px - 40px * 4) 0;
}
.status-table > tr:first-child > td:nth-child(6) > div {
  background-position: calc(-318px - 40px * 5) 0;
}
.status-table > tr:first-child > td:nth-child(7) > div {
  background-position: calc(-318px - 40px * 6) 0;
}
.status-table > tr:first-child > td:nth-child(8) > div {
  background-position: calc(-318px - 40px * 7) 0;
}

.icon-equips {
  display: inline-block;
  width: 25px;
  margin: 0;
  padding: 0;
}
.icon-equips::after {
  background-image: url("images/unit-stat-icons.png");
  transform: scale(0.65);
  display: inline-block;
  width: 39px;
  height: 39px;
  content: "";
  margin: 0;
  padding: 0;
}

td div:nth-child(2) .icon-equips:nth-child(6)::after {
  background-position: calc(-638px - 40px * 1) 0;
}
td div:nth-child(2) .icon-equips:nth-child(1)::after {
  background-position: calc(-638px - 40px * 2) 0;
}
td div:nth-child(2) .icon-equips:nth-child(11)::after {
  background-position: calc(-638px - 40px * 3) 0;
}
td div:nth-child(1) .icon-equips:nth-child(12)::after {
  background-position: calc(-638px - 40px * 4) 0;
}
td div:nth-child(1) .icon-equips:nth-child(8)::after {
  background-position: calc(-638px - 40px * 5) 0;
}
td div:nth-child(1) .icon-equips:nth-child(10)::after {
  background-position: calc(-638px - 40px * 6) 0;
}
td div:nth-child(2) .icon-equips:nth-child(10)::after {
  background-position: calc(-638px - 40px * 7) 0;
}
td div:nth-child(1) .icon-equips:nth-child(9)::after {
  background-position: calc(-638px - 40px * 8) 0;
}
td div:nth-child(1) .icon-equips:nth-child(3)::after {
  background-position: calc(-638px - 40px * 9) 0;
}
td div:nth-child(1) .icon-equips:nth-child(7)::after {
  background-position: calc(-638px - 40px * 10) 0;
}
td div:nth-child(2) .icon-equips:nth-child(3)::after {
  background-position: calc(-638px - 40px * 11) 0;
}
td div:nth-child(2) .icon-equips:nth-child(7)::after {
  background-position: calc(-638px - 40px * 12) 0;
}
td div:nth-child(1) .icon-equips:nth-child(6)::after {
  background-position: calc(-638px - 40px * 13) 0;
}
td div:nth-child(2) .icon-equips:nth-child(2)::after {
  background-position: calc(-638px - 40px * 14) 0;
}
td div:nth-child(1) .icon-equips:nth-child(11)::after {
  background-position: calc(-638px - 40px * 15) 0;
}
td div:nth-child(1) .icon-equips:nth-child(4)::after {
  background-position: calc(-638px - 40px * 16) 0;
}
td div:nth-child(1) .icon-equips:nth-child(2)::after {
  background-position: calc(-638px - 40px * 17) 0;
}
td div:nth-child(1) .icon-equips:nth-child(1)::after {
  background-position: calc(-638px - 40px * 18) 0;
}
td div:nth-child(1) .icon-equips:nth-child(5)::after {
  background-position: calc(-638px - 40px * 19) 0;
}
td div:nth-child(2) .icon-equips:nth-child(9)::after {
  background-position: calc(-638px - 40px * 20) 0;
}
td div:nth-child(2) .icon-equips:nth-child(8)::after {
  background-position: calc(-638px - 40px * 21) 0;
}
td div:nth-child(2) .icon-equips:nth-child(12)::after {
  background-position: calc(-638px - 40px * 22) 0;
}
td div:nth-child(2) .icon-equips:nth-child(5)::after {
  background-position: calc(-638px - 40px * 23) 0;
}
td div:nth-child(2) .icon-equips:nth-child(4)::after {
  background-position: calc(-638px - 40px * 24) 0;
}
.cant-equip::after { opacity: 0.2 }

#equip-slots label, #materia-slots label { white-space: normal; }
#equip-slots tr > td, #materia-slots tr > td { width: 50% }
.pot-slider {
  width: calc(100% - 32px) !important;
}
.pot-slider {
  margin-bottom: 8px;
}
.pot-slider div {
  display: inline-block;
  width: 83%;
}
.pot-slider div:nth-child(2) {
  width: 17%;
  text-align: right;
}
input[type="range"] {
  width: 95%;
  vertical-align: middle;
}
